# Nama dari database yang akan di gunakan
DB_NAME=

# Tipe dari database yang akan di gunakan. Misal: postgres, mysql, mariadb, dll.
DB_TYPE=

# Nomor port yang digunakan oleh database
DB_PORT=

# Kunci rahasia yang digunakan untuk sign JSON Web Tokens (JWT) pada alg RS256 
AUTH_JWTPRIVATEKEY=

# Kunci rahasia yang digunakan untuk verify JSON Web Tokens (JWT) pada alg RS256
AUTH_JWTPUBLICKEY=

# Jika disetel ke 'true', TypeORM akan secara otomatis membuat tabel yang tidak ada dan membuat perubahan struktur tabel yang diperlukan
SYNCHRONIZE=

# Username dari akun yang digunakan untuk terkoneksi dengan database
DB_USERNAME=

# Password dari akun yang digunakan untuk terkoneksi dengan database
DB_PASSWORD=